<section class="breadcrumb-area bread-bg-8 py-0">
    <div class="breadcrumb-wrap">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb-btn">
                    <a class="d-none" data-fancybox="gallery" data-src="images/car-img2.jpg" data-caption="Showing image - 02" data-speed="700"></a>
                        <a class="d-none" data-fancybox="gallery" data-src="images/car-img3.jpg" data-caption="Showing image - 03" data-speed="700"></a>
                        <a class="d-none" data-fancybox="gallery" data-src="images/car-img4.jpg" data-caption="Showing image - 04" data-speed="700"></a>
                    </div><!-- end breadcrumb-btn -->
                </div><!-- end col-lg-12 -->
            </div><!-- end row -->
        </div><!-- end container -->
    </div><!-- end breadcrumb-wrap -->
</section>
<section class="car-detail-area padding-bottom-90px">
  
 
    <div class="single-content-box">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="single-content-wrap padding-top-60px">
                        <div id="description" class="page-scroll">
                         
                            <div class="section-block"></div>
                            <div class="single-content-item py-4">
                                <div class="row">
                                  
                                    
                                
                              
                                </div><!-- end row -->
                            </div><!-- end single-content-item -->
                            <div class="section-block"></div>
                            <div class="single-content-item padding-top-40px padding-bottom-40px">
                                <h3 class="title font-size-20">{{excursion.destination}}</h3>
                                <img class="img-profile" class="rounded" alt="Cinque Terre"
                                width="200" height="150"
                                src="http://localhost:3008/getImage/{{excursion.galleries[0].name}}">
                                <p class="py-3">{{excursion.description}}</p>
                             </div><!-- end single-content-item -->

                            <div class="section-block"></div>
                        </div><!-- end description -->
                      
                        <div id="reviews" class="page-scroll">
                           
                            <div class="section-block"></div>
                        </div><!-- end reviews -->
                        <div class="review-box">
                           
                        </div><!-- end review-box -->
                    </div><!-- end single-content-wrap -->
                </div><!-- end col-lg-8 -->
                <div class="col-lg-4">
                    <div class="sidebar single-content-sidebar mb-0">
                        <div class="sidebar-widget single-content-widget">
                            <div class="sidebar-widget-item">
                                <div class="sidebar-book-title-wrap mb-3">
                                   
                                    <p><span class="text-value ml-2 mr-1">{{excursion.prix}} DT</span></p>
                                </div>
                            </div><!-- end sidebar-widget-item -->
                            <div class="sidebar-widget-item">
                                <div class="contact-form-action">
                                    <form [formGroup]="excursionForm" (ngSubmit)="addDemande()">
                                     
                                        <div class="input-box">
                                            <label class="label-text">Date de depart</label>
                                            <div class="form-group">
                                                <span class="la la-calendar form-icon"></span>
                                                <input class="date-range form-control" type="date"  formControlName="datededepart"
                                                >
                                               
                                            </div>
                                            <!-- <div class="form-group">
                                                <div class="select-contain w-auto">
                                                    <div
                                                        class="dropdown bootstrap-select select-contain-select">
                                                        <select (change)="calculerprix($event,excursion.prix)"
                                                            class="select-contain-select" tabindex="-98">
                                                            <option selected>Sélectionner le nbre de
                                                                personne</option>
                                                            <option value="2">2</option>
                                                            <option value="3">3</option>
                                                            <option value="4">4</option>
                                                            <option value="5">5</option>
                                                            <option value="6">6</option>


                                                        </select>
                                                    </div>
                                                </div>
                                              
                                            <div class="total-price pt-3">
                                              
                                                <p class="d-flex align-items-center"><span class="font-size-17 text-black"></span> <input
                                                        type="text" name="total" class="num" value= "{{totalprix}}" readonly="readonly"><span>
                                                    </span></p>
                                            </div> -->
                                        <!-- </div> -->
                                    
                                      
                                      </div> 
                                    </form>
                                </div>
                            </div><!-- end sidebar-widget-item -->
                                        <div class="btn-box pt-2">
                                            <a type="button" (click)="addDemande()" class="theme-btn text-center w-100 mb-2"><i class="la la-shopping-cart mr-2 font-size-18" ></i>Book Now</a>

                
                            </div><!-- end main-search-input-item -->
                           
                        </div><!-- end sidebar-widget -->
                       
                      
                    </div><!-- end sidebar -->
                </div><!-- end col-lg-4 -->
                <div class="col-lg-8">
                   
                    <div class="review-box">
                        
                              <h3 class="title font-size-20">Affichage de 3 avis de clients</h3>
                              <div class="comments-list padding-top-50px">
                                  <div class="comment">
                                    <div class="comment-body">
                                          <div class="meta-data">
                                              <h3 class="comment__author">Ahmad Aouina</h3>
                                              <div class="meta-data-inner d-flex">
                                                  <span class="ratings d-flex align-items-center mr-1">
                                                      <i class="la la-star"></i>
                                                      <i class="la la-star"></i>
                                                      <i class="la la-star"></i>
                                                      <i class="la la-star"></i>
                                                      <i class="la la-star"></i>
                                                  </span>
                                                
                                              </div>
                                          </div>
                                          <p class="comment-content">
                                            Facile d’utilisation, prix moins chers  </p>
                                          <div class="comment-reply d-flex align-items-center justify-content-between">
                                              <a class="theme-btn" href="#" data-toggle="modal" data-target="#replayPopupForm">
                                                  <span class="la la-mail-reply mr-1"></span>Réponse
                                              </a>
                                             
                                          </div>
                                      </div>
                                  </div><!-- end comments -->
                                  <div class="comment comment-reply-item">
                                     <div class="comment-body">
                                          <div class="meta-data">
                                              <h3 class="comment__author">hamza smai</h3>
                                              <div class="meta-data-inner d-flex">
                                                  <span class="ratings d-flex align-items-center mr-1">
                                                      <i class="la la-star"></i>
                                                      <i class="la la-star"></i>
                                                      <i class="la la-star"></i>
                                                      <i class="la la-star"></i>
                                                      <i class="la la-star"></i>
                                                  </span>
                                                
                                              </div>
                                          </div>
                                          <p class="comment-content">
                                            c'est agréable de trouver un bon rapport qualité prix   </p>
                                          <div class="comment-reply d-flex align-items-center justify-content-between">
                                              <a class="theme-btn" href="#" data-toggle="modal" data-target="#replayPopupForm">
                                                  <span class="la la-mail-reply mr-1"></span>Réponse
                                              </a>
                                          
                                          </div>
                                      </div>
                                  </div><!-- end comments -->
                                  <div class="comment">
                                    
                                      <div class="comment-body">
                                          <div class="meta-data">
                                              <h3 class="comment__author">Zayen Siwar</h3>
                                              <div class="meta-data-inner d-flex">
                                                  <span class="ratings d-flex align-items-center mr-1">
                                                      <i class="la la-star"></i>
                                                      <i class="la la-star"></i>
                                                      <i class="la la-star"></i>
                                                      <i class="la la-star"></i>
                                                      <i class="la la-star"></i>
                                                  </span>
                                              </div>
                                          </div>
                                          <p class="comment-content">
                                            Très bonne expérience avec cette agence  </p>
                                          <div class="comment-reply d-flex align-items-center justify-content-between">
                                              <a class="theme-btn" href="#" data-toggle="modal" data-target="#replayPopupForm">
                                                  <span class="la la-mail-reply mr-1"></span>Reply
                                              </a>
                                            
                                          </div>
                                      </div>
                                  </div><!-- end comments -->
                                </div><!-- end comments-list -->
                              <div class="comment-forum padding-top-40px">
                                  <div class="form-box">
                                      <div class="form-title-wrap">
                                          <h3 class="title">Écrire un commentaire</h3>
                                      </div><!-- form-title-wrap -->
                                      <div class="form-content">
                                          <div class="rate-option p-2">
                                              <div class="row">
                                                  <div class="col-lg-4 responsive-column">
                                                      <div class="rate-option-item">
                                                          <label>Votre Avis</label>
                                                          <div class="rate-stars-option">
                                                              <input type="checkbox" id="lst1" value="1">
                                                              <label for="lst1"></label>
                                                              <input type="checkbox" id="lst2" value="2">
                                                              <label for="lst2"></label>
                                                              <input type="checkbox" id="lst3" value="3">
                                                              <label for="lst3"></label>
                                                              <input type="checkbox" id="lst4" value="4">
                                                              <label for="lst4"></label>
                                                              <input type="checkbox" id="lst5" value="5">
                                                              <label for="lst5"></label>
                                                          </div>
                                                      </div>
                                                  </div><!-- col-lg-4 -->
                                              
                                              </div><!-- end row -->
                                          </div><!-- end rate-option -->
                                          <div class="contact-form-action">
                                              <form method="post">
                                                  <div class="row">
                                                      <div class="col-lg-6 responsive-column">
                                                          <div class="input-box">
                                                              <label class="label-text">Nom</label>
                                                              <div class="form-group">
                                                                  <span class="la la-user form-icon"></span>
                                                                  <input class="form-control" type="text" name="text" placeholder="Votre nom" formControlName="nomClient">
                                                              </div>
                                                          </div>
                                                      </div>
                                                      <div class="col-lg-6 responsive-column">
                                                          <div class="input-box">
                                                              <label class="label-text">Email</label>
                                                              <div class="form-group">
                                                                  <span class="la la-envelope-o form-icon"></span>
                                                                  <input class="form-control" type="email" name="email" placeholder="Votre email" formControlName="email">
                                                              </div>
                                                          </div>
                                                      </div>
                                                      <div class="col-lg-12">
                                                          <div class="input-box">
                                                              <label class="label-text">Message</label>
                                                              <div class="form-group">
                                                                  <span class="la la-pencil form-icon"></span>
                                                                  <textarea class="message-control form-control" name="message" placeholder="Ecrire votre message" formControlName="description"></textarea>
                                                              </div>
                                                          </div>
                                                      </div>
                                                      <div class="col-lg-12">
                                                          <div class="btn-box">
                                                              <button type="button" class="theme-btn">Enregistrer</button>
                                                          </div>
                                                      </div>
                                                  </div>
                                              </form>
                                          </div><!-- end contact-form-action -->
                                      </div><!-- end form-content -->
                                  </div><!-- end form-box -->
                              </div><!-- end comment-forum -->
                       
                      </div><!-- end review-box -->
          
              </div><!-- end col-lg-8 -->
            
            </div><!-- end row -->
        </div><!-- end container -->
    </div><!-- end single-content-box -->

   
</section>