<section class="breadcrumb-area bread-bg-9">
    <div class="breadcrumb-wrap">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb-content">
                        <div class="section-heading">
                            <h2 class="sec__title line-height-50 text-white">Eco Agency.com est votre confiance <br>Compagnon de voyage.</h2>
                        </div>
                    </div><!-- end breadcrumb-content -->
                </div><!-- end col-lg-12 -->
            </div><!-- end row -->
        </div><!-- end container -->
    </div><!-- end breadcrumb-wrap -->
    <div class="bread-svg-box">
        <svg class="bread-svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 10" preserveAspectRatio="none"><polygon points="100 0 50 10 0 0 0 10 100 10"></polygon></svg>
    </div><!-- end bread-svg -->
</section>

<section class="about-area padding-bottom-90px overflow-hidden">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="section-heading margin-bottom-40px">
                    <h2 class="sec__title">A propos de nous</h2>
                    <h4 class="title font-size-16 line-height-26 pt-4 pb-2">Agence de voyage Tunisienne au coeur de la ville de Sousse, vous accueille 7j/7 pour vous faire découvrir les plus belles villes de la Tunisie et du monde. Que vous ayez besoin, d'un vol, d'un séjour, d'une location de voiture, d'un circuit ou d'une thalasso, Travel & Travel est à votre disposition pour développer votre itinéraire et vous proposer le meilleur rapport qualité-prix.</h4>
                    <h4 class="title font-size-16 line-height-26 pt-4 pb-2">Une équipe de spécialistes vous reçoit dans une atmosphère chaleureuse, nous vous aiderons à travers les meilleurs conseils à préparer au mieux votre voyage non seulement en Tunisie mais aussi aux quatre coins du monde, en fonction de vos attentes... Devis personnalisé, voyage à la carte, voyage à thème, voyage de noces, combinés, croisières... </h4>
                    <h4 class="title font-size-16 line-height-26 pt-4 pb-2">Nous montons votre voyage sur mesure en fonction de votre budget et de vos envies. Notre objectif est de proposer le voyage adapté au budget de nos clients. Chez Travel & Travel profitez de nos tarifs exclusifs dans des hôtels de luxe. </h4>
            </div><!-- end section-heading -->
            </div><!-- end col-lg-6 -->
            <div class="col-lg-5 ml-auto">
                <div class="image-box about-img-box">
                    <img src="assets/images/img23.jpg" alt="about-img" class="img__item img__item-1">
                    <img src="assets/images/img22.jpg" alt="about-img" class="img__item img__item-2">
                </div>
            </div><!-- end col-lg-5 -->
        </div><!-- end row -->
    </div><!-- end container -->
</section>
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="section-heading">
                <h2 class="sec__title">Notre équipe</h2>
            </div><!-- end section-heading -->
        </div><!-- end col-lg-12 -->
    </div><!-- end row -->
    <div class="row padding-top-100px">
        <div class="col-lg-4 responsive-column">
            <div class="card-item team-card">
                <div class="card-img">
                    <img src="assets/images/team10.jpg" alt="team-img">
                </div>
                <div class="card-body">
                    <h3 class="card-title">Mrabet Anas</h3>
                    <p class="card-meta">Founder &amp; Director</p>
                    <p class="card-text font-size-15 pt-2">Ligula vehicula enenatis semper, magna lorem aliquet lacusin ante dapibus dictum fugats vitaes nemo minima.</p>
                    <ul class="social-profile padding-top-20px pb-2">
                        <li><a href="#"><i class="lab la-facebook-f"></i></a></li>
                        <li><a href="#"><i class="lab la-twitter"></i></a></li>
                        <li><a href="#"><i class="lab la-instagram"></i></a></li>
                        <li><a href="#"><i class="lab la-linkedin-in"></i></a></li>
                    </ul>
                </div>
            </div><!-- end card-item -->
        </div><!-- end col-lg-4 -->
    
        <div class="col-lg-4 responsive-column">
            <div class="card-item team-card">
                <div class="card-img">
                    <img src="assets/images/Picture.jpg" alt="team-img">
                </div>
                <div class="card-body">
                    <h3 class="card-title">Zayen Siwar</h3>
                    <p class="card-meta">Order Manager</p>
                    <p class="card-text font-size-15 pt-2">Ligula vehicula enenatis semper, magna lorem aliquet lacusin ante dapibus dictum fugats vitaes nemo minima.</p>
                    <ul class="social-profile padding-top-20px pb-2">
                        <li><a href="#"><i class="lab la-facebook-f"></i></a></li>
                        <li><a href="#"><i class="lab la-twitter"></i></a></li>
                        <li><a href="#"><i class="lab la-instagram"></i></a></li>
                        <li><a href="#"><i class="lab la-linkedin-in"></i></a></li>
                    </ul>
                </div>
            </div><!-- end card-item -->
        </div><!-- end col-lg-4 -->
        <div class="col-lg-4 responsive-column">
            <div class="card-item team-card">
                <div class="card-img">
                    <img src="assets/images/team6.jpg" alt="team-img">
                </div>
                <div class="card-body">
                    <h3 class="card-title">Baklouti Aymen</h3>
                    <p class="card-meta">Head of Design</p>
                    <p class="card-text font-size-15 pt-2">Ligula vehicula enenatis semper, magna lorem aliquet lacusin ante dapibus dictum fugats vitaes nemo minima.</p>
                    <ul class="social-profile padding-top-20px pb-2">
                        <li><a href="#"><i class="lab la-facebook-f"></i></a></li>
                        <li><a href="#"><i class="lab la-twitter"></i></a></li>
                        <li><a href="#"><i class="lab la-instagram"></i></a></li>
                        <li><a href="#"><i class="lab la-linkedin-in"></i></a></li>
                    </ul>
                </div>
            </div><!-- end card-item -->
        </div><!-- end col-lg-4 -->
    </div><!-- end row -->
</div>