<section class="breadcrumb-area bread-bg-6 py-0">
    <div class="breadcrumb-wrap">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb-btn">
                       
                        <a class="d-none" data-fancybox="gallery" data-src="images/destination-img2.jpg" data-caption="Showing image - 02" data-speed="700"></a>
                        <a class="d-none" data-fancybox="gallery" data-src="images/destination-img3.jpg" data-caption="Showing image - 03" data-speed="700"></a>
                        <a class="d-none" data-fancybox="gallery" data-src="images/destination-img4.jpg" data-caption="Showing image - 04" data-speed="700"></a>
                    </div><!-- end breadcrumb-btn -->
                </div><!-- end col-lg-12 -->
            </div><!-- end row -->
        </div><!-- end container -->
    </div><!-- end breadcrumb-wrap -->
</section>
<section class="tour-detail-area padding-bottom-90px">
    <div class="single-content-navbar-wrap menu section-bg" id="single-content-navbar">
        <div class="container">
            <div class="row">
              
            </div>
        </div>
    </div><!-- end single-content-navbar-wrap -->
    
    <div class="single-content-box">
        
        <div class="container">
            <div class="row">
                
                <div class="col-lg-8">
                    <div class="single-content-wrap padding-top-60px">
                        <div class="single-content-item py-4">
                            <div class="row">
                            
                                <div class="col-lg-4 responsive-column">
                                    <div class="single-tour-feature d-flex align-items-center mb-3">
                                        <div class="single-feature-icon icon-element ml-0 flex-shrink-0 mr-3">
                                            <i class="la la-plane"></i>
                                        </div>
                                        <div class="single-feature-titles">
                                            <h3 class="title font-size-15 font-weight-medium">{{voyage.nom}}</h3>
                                           
                                        </div>
                                    </div><!-- end single-tour-feature -->
                                </div><!-- end col-lg-4 -->
                                <div class="col-lg-4 responsive-column">
                                    <div class="single-tour-feature d-flex align-items-center mb-3">
                                        <div class="single-feature-icon icon-element ml-0 flex-shrink-0 mr-3">
                                            <i class="la la-user"></i>
                                        </div>
                                        <div class="single-feature-titles">
                                            <h3 class="title font-size-15 font-weight-medium">Type de vol</h3>
                                            <span class="font-size-13">Economie</span>
                                        </div>
                                    </div><!-- end single-tour-feature -->
                                </div><!-- end col-lg-4 -->
                               
                            
                                <div class="col-lg-4 responsive-column">
                                    <div class="single-tour-feature d-flex align-items-center mb-3">
                                        <div class="single-feature-icon icon-element ml-0 flex-shrink-0 mr-3">
                                            <i class="la la-exchange"></i>
                                        </div>
                                        <div class="single-feature-titles">
                                            <h3 class="title font-size-15 font-weight-medium">Prix</h3>
                                            <span class="font-size-13">{{voyage.prix}}</span>
                                        </div>
                                    </div><!-- end single-tour-feature -->
                                </div><!-- end col-lg-4 -->
                                <div class="col-lg-4 responsive-column">
                                    <div class="single-tour-feature d-flex align-items-center mb-3">
                                        <div class="single-feature-icon icon-element ml-0 flex-shrink-0 mr-3">
                                            <i class="la la-shopping-cart"></i>
                                        </div>
                                        <div class="single-feature-titles">
                                            <h3 class="title font-size-15 font-weight-medium"> Baggage</h3>
                                            <span class="font-size-13">Frais supplémentaires</span>
                                        </div>
                                    </div><!-- end single-tour-feature -->
                                </div><!-- end col-lg-4 -->
                                <div class="col-lg-4 responsive-column">
                                    <div class="single-tour-feature d-flex align-items-center mb-3">
                                        <div class="single-feature-icon icon-element ml-0 flex-shrink-0 mr-3">
                                            <i class="la la-gear"></i>
                                        </div>
                                        <div class="single-feature-titles">
                                            <h3 class="title font-size-15 font-weight-medium">Fonctionnalités en vol</h3>
                                            <span class="font-size-13">Disponible</span>
                                        </div>
                                    </div><!-- end single-tour-feature -->
                                </div><!-- end col-lg-4 -->
                                <div class="col-lg-4 responsive-column">
                                    <div class="single-tour-feature d-flex align-items-center mb-3">
                                        <div class="single-feature-icon icon-element ml-0 flex-shrink-0 mr-3">
                                            <i class="la la-building"></i>
                                        </div>
                                        <div class="single-feature-titles">
                                            <h3 class="title font-size-15 font-weight-medium">Tarif</h3>
                                            <span class="font-size-13">320€</span>
                                        </div>
                                    </div><!-- end single-tour-feature -->
                                </div><!-- end col-lg-4 -->
                               
                            </div><!-- end row -->
                        </div>
                    
                     
                   
              
                    </div><!-- end single-content-wrap -->
                </div><!-- end col-lg-8 -->
                <div class="col-lg-4">
                    <div class="sidebar single-content-sidebar mb-0">
                        <div class="sidebar-widget single-content-widget">
                            <div class="sidebar-widget-item">
                                <div class="sidebar-book-title-wrap mb-3">
                                    <h3>Reservation</h3>
                                    <p><span class="text-value ml-2 mr-1">{{voyage.prix}}</span></p>
                                </div>
                            </div><!-- end sidebar-widget-item -->
                            <div class="sidebar-widget-item">
                                <div class="contact-form-action">
                                    <form [formGroup]="volForm" (ngSubmit)="addDemande()">
                                        <div class="input-box">
                                            <label class="label-text">Date de depart</label>
                                            <div class="form-group">
                                                <span class="la la-calendar form-icon"></span>
                                                <input class="date-range form-control" type="date"  formControlName="datededepart"
                                                >  </div>
                                        </div>
                                        <div class="input-box">
                                            <label class="label-text">Date de retour</label>
                                            <div class="form-group">
                                                <span class="la la-calendar form-icon"></span>
                                                <input class="date-range form-control" type="date"formControlName="date_arrivee"
                                                >
                                                
                                                 
                                              
                                            </div>
                                        </div>
                                        
                                      
                                    </form>
                                </div>
                            </div><!-- end sidebar-widget-item -->
                            <div class="sidebar-widget-item">
                                
                            
                            
                            </div><!-- end sidebar-widget-item -->
                            <div class="btn-box pt-2">
                                <a type="button" (click)="addDemande()" class="theme-btn text-center w-100 mb-2"><i class="la la-shopping-cart mr-2 font-size-18" ></i>Reservation</a>

    
                </div><!-- end main-search-input-item -->
              
                        </div><!-- end sidebar-widget -->
                
                    </div><!-- end sidebar -->
                </div><!-- end col-lg-4 -->
            </div><!-- end row -->
        </div><!-- end container -->
    </div><!-- end single-content-box -->
    <div class="container">
    <div class="review-box">
        <div class="col-lg-8">
                   
            <div class="review-box">
                <div class="review-box">
                
                    <h3 class="title font-size-20">Affichage de 3 avis de clients</h3>
                    <div class="comments-list padding-top-50px">
                        <div class="comment">
                          <div class="comment-body">
                                <div class="meta-data">
                                    <h3 class="comment__author">Ahmad Aouina</h3>
                                    <div class="meta-data-inner d-flex">
                                        <span class="ratings d-flex align-items-center mr-1">
                                            <i class="la la-star"></i>
                                            <i class="la la-star"></i>
                                            <i class="la la-star"></i>
                                            <i class="la la-star"></i>
                                            <i class="la la-star"></i>
                                        </span>
                                      
                                    </div>
                                </div>
                                <p class="comment-content">
                                  Facile d’utilisation, prix moins chers  </p>
                                <div class="comment-reply d-flex align-items-center justify-content-between">
                                    <a class="theme-btn" href="#" data-toggle="modal" data-target="#replayPopupForm">
                                        <span class="la la-mail-reply mr-1"></span>Réponse
                                    </a>
                                   
                                </div>
                            </div>
                        </div><!-- end comments -->
                        <div class="comment comment-reply-item">
                           <div class="comment-body">
                                <div class="meta-data">
                                    <h3 class="comment__author">hamza smai</h3>
                                    <div class="meta-data-inner d-flex">
                                        <span class="ratings d-flex align-items-center mr-1">
                                            <i class="la la-star"></i>
                                            <i class="la la-star"></i>
                                            <i class="la la-star"></i>
                                            <i class="la la-star"></i>
                                            <i class="la la-star"></i>
                                        </span>
                                      
                                    </div>
                                </div>
                                <p class="comment-content">
                                  c'est agréable de trouver un bon rapport qualité prix   </p>
                                <div class="comment-reply d-flex align-items-center justify-content-between">
                                    <a class="theme-btn" href="#" data-toggle="modal" data-target="#replayPopupForm">
                                        <span class="la la-mail-reply mr-1"></span>Réponse
                                    </a>
                                
                                </div>
                            </div>
                        </div><!-- end comments -->
                        <div class="comment">
                          
                            <div class="comment-body">
                                <div class="meta-data">
                                    <h3 class="comment__author">Zayen Siwar</h3>
                                    <div class="meta-data-inner d-flex">
                                        <span class="ratings d-flex align-items-center mr-1">
                                            <i class="la la-star"></i>
                                            <i class="la la-star"></i>
                                            <i class="la la-star"></i>
                                            <i class="la la-star"></i>
                                            <i class="la la-star"></i>
                                        </span>
                                    </div>
                                </div>
                                <p class="comment-content">
                                  Très bonne expérience avec cette agence  </p>
                                <div class="comment-reply d-flex align-items-center justify-content-between">
                                    <a class="theme-btn" href="#" data-toggle="modal" data-target="#replayPopupForm">
                                        <span class="la la-mail-reply mr-1"></span>Réponse
                                    </a>
                                  
                                </div>
                            </div>
                        </div><!-- end comments -->
                      </div><!-- end comments-list -->
                    <div class="comment-forum padding-top-40px">
                        <div class="form-box">
                            <div class="form-title-wrap">
                                <h3 class="title">Écrire un commentaire</h3>
                            </div><!-- form-title-wrap -->
                            <div class="form-content">
                                <div class="rate-option p-2">
                                    <div class="row">
                                        <div class="col-lg-4 responsive-column">
                                            <div class="rate-option-item">
                                                <label>Votre Avis</label>
                                                <div class="rate-stars-option">
                                                    <input type="checkbox" id="lst1" value="1">
                                                    <label for="lst1"></label>
                                                    <input type="checkbox" id="lst2" value="2">
                                                    <label for="lst2"></label>
                                                    <input type="checkbox" id="lst3" value="3">
                                                    <label for="lst3"></label>
                                                    <input type="checkbox" id="lst4" value="4">
                                                    <label for="lst4"></label>
                                                    <input type="checkbox" id="lst5" value="5">
                                                    <label for="lst5"></label>
                                                </div>
                                            </div>
                                        </div><!-- col-lg-4 -->
                                    
                                    </div><!-- end row -->
                                </div><!-- end rate-option -->
                                <div class="contact-form-action">
                                    <form method="post">
                                        <div class="row">
                                            <div class="col-lg-6 responsive-column">
                                                <div class="input-box">
                                                    <label class="label-text">Nom</label>
                                                    <div class="form-group">
                                                        <span class="la la-user form-icon"></span>
                                                        <input class="form-control" type="text" name="text" placeholder="Votre nom" formControlName="nomClient">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-6 responsive-column">
                                                <div class="input-box">
                                                    <label class="label-text">Email</label>
                                                    <div class="form-group">
                                                        <span class="la la-envelope-o form-icon"></span>
                                                        <input class="form-control" type="email" name="email" placeholder="Votre email" formControlName="email">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-12">
                                                <div class="input-box">
                                                    <label class="label-text">Message</label>
                                                    <div class="form-group">
                                                        <span class="la la-pencil form-icon"></span>
                                                        <textarea class="message-control form-control" name="message" placeholder="Ecrire votre message" formControlName="description"></textarea>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-12">
                                                <div class="btn-box">
                                                    <button type="button" class="theme-btn">Enregistrer</button>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div><!-- end contact-form-action -->
                            </div><!-- end form-content -->
                        </div><!-- end form-box -->
                    </div><!-- end comment-forum -->
             
            </div><!-- end review-box -->

                
                
              </div><!-- end review-box -->
  
      </div><!-- end col-lg-8 -->
   
</div>
</div><!-- end container -->

</section>