<div class="dashboard-bread dashboard-bread-2">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="breadcrumb-content">
                    <div class="section-heading">
                        <h2 class="sec__title font-size-30 text-white">Dashboard</h2>
                    </div>
                </div><!-- end breadcrumb-content -->
            </div><!-- end col-lg-6 -->
            <div class="col-lg-6">
                <div class="breadcrumb-list text-right">
                    <ul class="list-items">
                        <li><a href="index.html" class="text-white">Accueil</a></li>
                        <li>Page</li>
                        <li>Dashboard</li>
                    </ul>
                </div><!-- end breadcrumb-list -->
            </div><!-- end col-lg-6 -->
        </div><!-- end row -->
        <div class="row mt-4">
            <div class="col-lg-3 responsive-column-l">
                <div class="icon-box icon-layout-2 dashboard-icon-box pb-0">
                    <div class="d-flex pb-3 justify-content-between">
                        <div class="info-content">
                            <p class="info__desc">Réservation totale !</p>
                            <h4 class="info__title">15</h4>
                        </div><!-- end info-content -->
                        <div class="info-icon icon-element bg-4">
                            <i class="la la-shopping-cart"></i>
                        </div><!-- end info-icon-->
                    </div>
                    <div class="section-block"></div>
                    <a href="admin-dashboard-booking.html" class="d-flex align-items-center justify-content-between view-all">voir les détails <i class="la la-angle-right"></i></a>
                </div>
            </div><!-- end col-lg-3 -->
            <div class="col-lg-3 responsive-column-l">
                <div class="icon-box icon-layout-2 dashboard-icon-box pb-0">
                    <div class="d-flex pb-3 justify-content-between">
                        <div class="info-content">
                            <p class="info__desc">Nouvelles avis!</p>
                            <h4 class="info__title">8</h4>
                        </div><!-- end info-content -->
                        <div class="info-icon icon-element bg-3">
                            <i class="la la-star"></i>
                        </div><!-- end info-icon-->
                    </div>
                    <div class="section-block"></div>
                    <a href="admin-dashboard-reviews.html" class="d-flex align-items-center justify-content-between view-all">voir les détails <i class="la la-angle-right"></i></a>
                </div>
            </div><!-- end col-lg-3 -->
         
       </div><!-- end row -->
    </div>
</div>
<div class="col-lg-12 responsive-column--m">
    <div class="form-box">
        <div class="form-title-wrap">
            <div class="d-flex align-items-center justify-content-between">
                <ul class="chart-pagination d-flex">
                 <li><a href="#" class="theme-btn theme-btn-small theme-btn-transparent">Cette année</a></li>
                </ul>
                <div class="select-contain">
             </div>
        </div>
            <div style="display: block">
                <canvas mdbChart
                  [chartType]="chartType"
                  [datasets]="chartDatasets"
                  [labels]="chartLabels"
                  [colors]="chartColors"
                  [options]="chartOptions"
                  [legend]="true"
                  (chartHover)="chartHovered($event)"
                  (chartClick)="chartClicked($event)">
                </canvas>
              </div>
        
    </div><!-- end form-box -->
</div>
<div class="col-lg-12">
    <div class="form-box dashboard-card">
        <div class="form-title-wrap">
            <h3 class="title">Ventes gagnées  pour chaque service</h3>
        </div>
        <div class="form-content">
            <div class="row">
                <div class="col-lg-3 responsive-column-l">
                    <div class="icon-box icon-layout-2 dashboard-icon-box dashboard--icon-box bg-1 pb-0">
                        <div class="d-flex pb-3 justify-content-between">
                            <div class="info-content">
                                <p class="info__desc">Hotels</p>
                                <h4 class="info__title">755.000D</h4>
                            </div><!-- end info-content -->
                            <div class="info-icon icon-element bg-white text-color-2">
                                <i class="la la-hotel"></i>
                            </div><!-- end info-icon-->
                        </div>
                        <div class="section-block"></div>
                        <a href="#" class="d-flex align-items-center justify-content-between view-all">voir les détails <i class="la la-arrow-right"></i></a>
                    </div>
                </div><!-- end col-lg-3 -->
                <div class="col-lg-3 responsive-column-l">
                    <div class="icon-box icon-layout-2 dashboard-icon-box dashboard--icon-box bg-2 pb-0">
                        <div class="d-flex pb-3 justify-content-between">
                            <div class="info-content">
                                <p class="info__desc">Voitures</p>
                                <h4 class="info__title">422.000D</h4>
                            </div><!-- end info-content -->
                            <div class="info-icon icon-element bg-white text-color-3">
                                <i class="la la-car"></i>
                            </div><!-- end info-icon-->
                        </div>
                        <div class="section-block"></div>
                        <a href="#" class="d-flex align-items-center justify-content-between view-all">voir les détails <i class="la la-arrow-right"></i></a>
                    </div>
                </div><!-- end col-lg-3 -->
                <div class="col-lg-3 responsive-column-l">
                    <div class="icon-box icon-layout-2 dashboard-icon-box dashboard--icon-box bg-3 pb-0">
                        <div class="d-flex pb-3 justify-content-between">
                            <div class="info-content">
                                <p class="info__desc">Excursion</p>
                                <h4 class="info__title">427.000D</h4>
                            </div><!-- end info-content -->
                            <div class="info-icon icon-element bg-white text-color-4">
                                <i class="la la-ship"></i>
                            </div><!-- end info-icon-->
                        </div>
                        <div class="section-block"></div>
                        <a href="#" class="d-flex align-items-center justify-content-between view-all">voir les détails <i class="la la-arrow-right"></i></a>
                    </div>
                </div><!-- end col-lg-3 -->
                <div class="col-lg-3 responsive-column-l">
                    <div class="icon-box icon-layout-2 dashboard-icon-box dashboard--icon-box bg-2 pb-0">
                        <div class="d-flex pb-3 justify-content-between">
                            <div class="info-content">
                                <p class="info__desc">Transfert</p>
                                <h4 class="info__title">422.000D</h4>
                            </div><!-- end info-content -->
                            <div class="info-icon icon-element bg-white text-color-3">
                                <i class="la la-car"></i>
                            </div><!-- end info-icon-->
                        </div>
                        <div class="section-block"></div>
                        <a href="#" class="d-flex align-items-center justify-content-between view-all">voir les détails <i class="la la-arrow-right"></i></a>
                    </div>
                </div><!-- end col-lg-3 -->
              
                <div class="col-lg-3 responsive-column-l">
                    <div class="icon-box icon-layout-2 dashboard-icon-box dashboard--icon-box bg-4 pb-0">
                        <div class="d-flex pb-3 justify-content-between">
                            <div class="info-content">
                                <p class="info__desc">Vols</p>
                                <h4 class="info__title">325.000D</h4>
                            </div><!-- end info-content -->
                            <div class="info-icon icon-element bg-white text-color-5">
                                <i class="la la-plane"></i>
                            </div><!-- end info-icon-->
                        </div>
                        <div class="section-block"></div>
                        <a href="#" class="d-flex align-items-center justify-content-between view-all">voir les détails<i class="la la-arrow-right"></i></a>
                    </div>

                </div><!-- end col-lg-3 -->
                <div class="col-lg-3 responsive-column-l">
                    <div class="icon-box icon-layout-2 dashboard-icon-box dashboard--icon-box bg-3 pb-0">
                        <div class="d-flex pb-3 justify-content-between">
                            <div class="info-content">
                                <p class="info__desc">Omra</p>
                                <h4 class="info__title">927.000D</h4>
                            </div><!-- end info-content -->
                           <div class="icon-element bg-3 flex-shrink-0 mr-3 ml-0"><i class="la la-user"></i>
                               
                            </div><!-- end info-icon-->
                        </div>
                        <div class="section-block"></div>
                        <a href="#" class="d-flex align-items-center justify-content-between view-all">voir les détails <i class="la la-arrow-right"></i></a>
                    </div>
                </div><!-- end col-lg-3 -->
              
            </div><!-- end row -->
        </div>
    </div><!-- end form-box -->
</div>