<section class="footer-area section-bg padding-top-100px padding-bottom-30px">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 responsive-column">
                <div class="footer-item">
                   <p class="footer__desc">vous accueille 7j/7 pour vous faire découvrir les plus belles villes </p>
                    <ul class="list-items pt-3">
                        <li>Sahloul Sousse/li>
                        <li>+216 73 000 000</li>
                        <li><a href="#">Eco.Agence@gmail.com</a></li>
                    </ul>
                </div><!-- end footer-item -->
            </div><!-- end col-lg-3 -->
            <div class="col-lg-3 responsive-column">
                <div class="footer-item">
                    <h4 class="title curve-shape pb-3 margin-bottom-20px" data-text="curvs">Entreprise</h4>
                    <ul class="list-items list--items">
                        <li><a routerLink="/agence">Qui sommes-nous?</a></li>
                        <li><a href="services.html">Services</a></li>
                        <li><a href="#">Jobs</a></li>
                        <li><a href="blog-grid.html">Nouveautés</a></li>
                        <li><a href="contact.html">Support</a></li>
                     
                    </ul>
                </div><!-- end footer-item -->
            </div><!-- end col-lg-3 -->
            <div class="col-lg-3 responsive-column">
                <div class="footer-item">
                    <h4 class="title curve-shape pb-3 margin-bottom-20px" data-text="curvs">Autres liens</h4>
                    <ul class="list-items list--items">
                        <li><a href="#">Vacation Packages</a></li>
                        <li><a href="#"> Vols</a></li>
                        <li><a href="#"> Hotels</a></li>
                        <li><a href="#"> Voiture </a></li>
                      
                        <li><a href="#">Eco Agency Avis</a></li>
                    </ul>
                </div><!-- end footer-item -->
            </div><!-- end col-lg-3 -->
            <div class="col-lg-3 responsive-column">
                <div class="footer-item">
                    <h4 class="title curve-shape pb-3 margin-bottom-20px" data-text="curvs">S'abonner maintenant</h4>
                    <p class="footer__desc pb-3">Inscrivez-vous pour recevoir les dernières mises à jour et promotions</p>
                    <div class="contact-form-action">
                        <form action="#">
                            <div class="input-box">
                                <label class="label-text">Saisissez l'adresse e-mail</label>
                                <div class="form-group mb-0">
                                    <span class="la la-envelope form-icon"></span>
                                    <input class="form-control" type="email" name="email" placeholder="Email address">
                                    <button class="theme-btn theme-btn-small submit-btn" type="submit">Entrer</button>
                                    <span class="font-size-14 pt-1"><i class="la la-lock mr-1"></i>Vos informations sont
                                        en sécurité avec nous.</span>
                                </div>
                            </div>
                        </form>
                    </div>
                </div><!-- end footer-item -->
            </div><!-- end col-lg-3 -->
        </div><!-- end row -->
    </div><!-- end container -->
    <div class="section-block mt-4"></div>
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-7">
                <div class="copy-right padding-top-30px">
                    <p class="copy__desc">
                        &copy; Copyright Eco Agency 2020. Made with
                        <span class="la la-heart"></span> by <a
                            href="https://themeforest.net/user/techydevs/portfolio">Eco Agency Team </a>
                    </p>
                </div><!-- end copy-right -->
            </div><!-- end col-lg-7 -->
            <div class="col-lg-5">
                <div class="copy-right-content d-flex align-items-center justify-content-end padding-top-30px">
                    <h3 class="title font-size-15 pr-2">Nous acceptons</h3>
                    <img src="assets/images/payment-img.png" alt="">
                </div><!-- end copy-right-content -->
            </div><!-- end col-lg-5 -->
        </div><!-- end row -->
    </div><!-- end container -->
</section>