<div class="sidebar-nav sidebar--nav">
    <div class="sidebar-nav-body">
        <div class="side-menu-close">
            <i class="la la-times"></i>
        </div><!-- end menu-toggler -->
        <div class="author-content">
            <div class="d-flex align-items-center">
                <div class="author-img avatar-sm">
                    <img alt="ADMIN">
                </div>
                <div class="author-bio">
                    <h4 class="author__title"> Eco Agence </h4>
                    <span class="author__meta">Bienvenue dans le panneau d'administration</span>
                </div>
            </div>
        </div>
        <div class="sidebar-menu-wrap">
            <ul class="sidebar-menu toggle-menu list-items">
                <li  class="page-active"><a href="admin-dashboard.html"  routerLink="/dashboard"><i class="la la-dashboard mr-2"></i>Dashboard</a></li>
                <li><a href="admin-dashboard-booking.html" routerLink="/Reservation"><i class="la la-shopping-cart mr-2 text-color"></i>Reservation</a></li>
                <li>
                    <span class="side-menu-icon toggle-menu-icon">
                        <i class="la la-angle-down"></i>
                    </span>
                    <a routerLink="/gHotel"><i class="la la-list mr-2 text-color-2"></i>Hotel</a>
                    <ul class="toggle-drop-menu">
                        <li><a  routerLink="/gHotel">Gestion Hotels</a></li>
                    </ul>
                    <ul class="toggle-drop-menu">
                        <li><a  routerLink="/contrat">Les contrats</a></li>
                    </ul>
                    <ul class="toggle-drop-menu">
                        <li><a  routerLink="/chambre">Chambre</a></li>
                    </ul>
                    <ul class="toggle-drop-menu">
                        <li><a  routerLink="/arrangement">Arrangements</a></li>
                    </ul>
                    <ul class="toggle-drop-menu">
                                 <li><a  routerLink="/Supplimentaire">Supplimentaire</a></li>
                    </ul>
                    <ul class="toggle-drop-menu">
                        <li><a  routerLink="/Rhotel">Reservation Hotel</a></li>
           </ul>
                </li>
                <li>
                    <span class="side-menu-icon toggle-menu-icon">
                        <i class="la la-angle-down"></i>
                    </span>
                    <a href="admin-dashboard-orders.html"><i class="la la-list mr-2 text-color-2"></i>Vehicule</a>
                    <ul class="toggle-drop-menu">                
                     <li><a  routerLink="/gestionVoiture">Gestion vehicule</a></li>
                     <li><a  routerLink="/gReservationVoiture">Reservation  vehicule</a></li>
                    </ul>
                </li>
                <li>
                    <span class="side-menu-icon toggle-menu-icon">
                        <i class="la la-angle-down"></i>
                    </span>
                    <a href=""><i class="la la-list mr-2 text-color-2"></i>Vol</a>
                    <ul class="toggle-drop-menu">
                        <li><a  routerLink="/gestionVoyages">Gestion vol</a></li>
                        <li><a  routerLink="/gReservationVoyage">Reservation vol</a></li>
                    </ul>
                  
                </li>
            
                <li>
                    <span class="side-menu-icon toggle-menu-icon">
                       
                    </span>
                    <a routerLink="/listUsers"><i class="la la-list mr-2 text-color-2" ></i> Les Clients </a>
 
                </li>
                <li>
                    <span class="side-menu-icon toggle-menu-icon">
                    
                    </span>
                
              
                <li><a routerLink="/parametre"><i class="la la-cog mr-2"></i>Parametre</a></li>
               <li><a href="index.html"><i class="la la-power-off mr-2 text-color-11"></i>Déconnecter</a></li>
            </ul>
        </div><!-- end sidebar-menu-wrap -->
    </div>
</div>