<section class="breadcrumb-area bread-bg-7 py-0">
    <div class="breadcrumb-wrap">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb-btn">
                      <a class="d-none" data-fancybox="gallery" data-src="images/img2.jpg" data-caption="Showing image - 02" data-speed="700"></a>
                        <a class="d-none" data-fancybox="gallery" data-src="images/img3.jpg" data-caption="Showing image - 03" data-speed="700"></a>
                        <a class="d-none" data-fancybox="gallery" data-src="images/img4.jpg" data-caption="Showing image - 04" data-speed="700"></a>
                    </div><!-- end breadcrumb-btn -->
                </div><!-- end col-lg-12 -->
            </div><!-- end row -->
        </div><!-- end container -->
    </div><!-- end breadcrumb-wrap -->
</section>
<div class="single-content-box">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="single-content-wrap padding-top-60px" >
                    <div id="description" class="page-scroll">
                        <div class="single-content-item pb-4">
                            <h3 class="title font-size-26">{{hotel.nom}}</h3>
                            <div class="d-flex align-items-center pt-2">
                                <p class="mr-2">{{hotel.adresseHotel}}</p>
                               
                                <p>
                                    <span class="badge badge-warning text-white font-size-16">{{hotel.categorie[0].nombreEtoile}}</span>
                                   
                                </p>
                               
                            </div>
                            <img class="img-profile" class="rounded" alt="Cinque Terre"
                            width="200" height="150"
                            src="http://localhost:3008/getImage/{{hotel.galleries[0].name}}">
                        </div><!-- end single-content-item -->
                        <div class="section-block"></div>
                        <div class="single-content-item py-4">
                   
                        </div><!-- end single-content-item -->
                        <div class="section-block"></div>
                        <div class="single-content-item padding-top-40px padding-bottom-40px" >
                            <h3 class="title font-size-20">{{hotel.nom}}</h3>
                            <p class="py-3">{{hotel.description}}</p>
                        </div><!-- end single-content-item -->
                        <div class="section-block"></div>
                    </div><!-- end description -->
          
                    <div id="amenities" class="page-scroll">
                        <div class="single-content-item padding-top-40px padding-bottom-20px">
                            <h3 class="title font-size-20">Ses points forts</h3>
                            <div class="amenities-feature-item pt-4">
                                <div class="row">
                                    <div class="col-lg-4 responsive-column">
                                        <div class="single-tour-feature d-flex align-items-center mb-3">
                                            <div class="single-feature-icon icon-element ml-0 flex-shrink-0 mr-3">
                                                <i class="la la-wifi"></i>
                                            </div>
                                            <div class="single-feature-titles">
                                                <h3 class="title font-size-15 font-weight-medium">WI-FI</h3>
                                            </div>
                                        </div><!-- end single-tour-feature -->
                                    </div><!-- end col-lg-4 -->
                                    <div class="col-lg-4 responsive-column">
                                        <div class="single-tour-feature d-flex align-items-center mb-3">
                                            <div class="single-feature-icon icon-element ml-0 flex-shrink-0 mr-3">
                                                <i class="la la-check"></i>
                                            </div>
                                            <div class="single-feature-titles">
                                                <h3 class="title font-size-15 font-weight-medium">Piscine</h3>
                                            </div>
                                        </div><!-- end single-tour-feature -->
                                    </div><!-- end col-lg-4 -->
                                    <div class="col-lg-4 responsive-column">
                                        <div class="single-tour-feature d-flex align-items-center mb-3">
                                            <div class="single-feature-icon icon-element ml-0 flex-shrink-0 mr-3">
                                                <i class="la la-television"></i>
                                            </div>
                                            <div class="single-feature-titles">
                                                <h3 class="title font-size-15 font-weight-medium">Television</h3>
                                            </div>
                                        </div><!-- end single-tour-feature -->
                                    </div><!-- end col-lg-4 -->
                                    <div class="col-lg-4 responsive-column">
                                        <div class="single-tour-feature d-flex align-items-center mb-3">
                                            <div class="single-feature-icon icon-element ml-0 flex-shrink-0 mr-3">
                                                <i class="la la-coffee"></i>
                                            </div>
                                            <div class="single-feature-titles">
                                                <h3 class="title font-size-15 font-weight-medium">Café</h3>
                                            </div>
                                        </div><!-- end single-tour-feature -->
                                    </div><!-- end col-lg-4 -->
                                    <div class="col-lg-4 responsive-column">
                                        <div class="single-tour-feature d-flex align-items-center mb-3">
                                            <div class="single-feature-icon icon-element ml-0 flex-shrink-0 mr-3">
                                                <i class="la la-tree"></i>
                                            </div>
                                            <div class="single-feature-titles">
                                                <h3 class="title font-size-15 font-weight-medium">Climatisation</h3>
                                            </div>
                                        </div><!-- end single-tour-feature -->
                                    </div><!-- end col-lg-4 -->
                                  
                               
                                    <div class="col-lg-4 responsive-column">
                                        <div class="single-tour-feature d-flex align-items-center mb-3">
                                            <div class="single-feature-icon icon-element ml-0 flex-shrink-0 mr-3">
                                                <i class="la la-glass"></i>
                                            </div>
                                            <div class="single-feature-titles">
                                                <h3 class="title font-size-15 font-weight-medium">Bar</h3>
                                            </div>
                                        </div><!-- end single-tour-feature -->
                                    </div><!-- end col-lg-4 -->
                                   
                                   
                                    <div class="col-lg-4 responsive-column">
                                        <div class="single-tour-feature d-flex align-items-center mb-3">
                                            <div class="single-feature-icon icon-element ml-0 flex-shrink-0 mr-3">
                                                <i class="la la-check"></i>
                                            </div>
                                            <div class="single-feature-titles">
                                                <h3 class="title font-size-15 font-weight-medium">Service de chambre</h3>
                                            </div>
                                        </div><!-- end single-tour-feature -->
                                    </div><!-- end col-lg-4 -->
                                    <div class="col-lg-4 responsive-column">
                                        <div class="single-tour-feature d-flex align-items-center mb-3">
                                            <div class="single-feature-icon icon-element ml-0 flex-shrink-0 mr-3">
                                                <i class="la la-check-circle"></i>
                                            </div>
                                            <div class="single-feature-titles">
                                                <h3 class="title font-size-15 font-weight-medium">Animaux de compagnie autorisés</h3>
                                            </div>
                                        </div><!-- end single-tour-feature -->
                                    </div><!-- end col-lg-4 -->
                                    
                                    <div class="col-lg-4 responsive-column">
                                        <div class="single-tour-feature d-flex align-items-center mb-3">
                                            <div class="single-feature-icon icon-element ml-0 flex-shrink-0 mr-3">
                                                <i class="la la-car"></i>
                                            </div>
                                            <div class="single-feature-titles">
                                                <h3 class="title font-size-15 font-weight-medium">Parking gratuit</h3>
                                            </div>
                                        </div><!-- end single-tour-feature -->
                                    </div><!-- end col-lg-4 -->
                                   
                            
                                </div><!-- end row -->
                            </div>
                        </div><!-- end single-content-item -->
                        <div class="section-block"></div>
                    </div><!-- end faq -->
                
               
                   
                </div><!-- end single-content-wrap -->
            </div><!-- end col-lg-8 -->
         
        </div><!-- end row -->
        <div class="btn-box pt-2">
            <a routerLink="/chambre" class="theme-btn text-center w-100 mb-2"  ><i class="la la-shopping-cart mr-2 font-size-18"></i>Réservez maintenant</a>
         
        </div>
        <div class="review-box">
                        
            <h3 class="title font-size-20">Showing 3 guest reviews</h3>
            <div  class="comments-list padding-top-50px">
                <div class="comment" *ngFor="let r of Reviews"   >
                    
                    <div class="comment-body">
                        <div class="meta-data">
                            <h3 class="comment__author">{{r.nomClient}}</h3>
                            <div class="meta-data-inner d-flex">
                                <span class="ratings d-flex align-items-center mr-1">
                                    <i class="la la-star"></i>
                                    <i class="la la-star"></i>
                                    <i class="la la-star"></i>
                                    <i class="la la-star"></i>
                                    <i class="la la-star"></i>
                                </span>
                             <p class="comment__date">{{r.createdAt | date:'short'}}</p>
                            </div>
                        </div>
                        <p class="comment-content">{{r.description}}
                        </p>
                    
                    </div>
                </div><!-- end comments -->
            
                <div class="btn-box load-more text-center">
                    <button class="theme-btn theme-btn-small theme-btn-transparent" type="button"></button>
                </div>
            </div><!-- end comments-list -->
        <div class="comment-forum padding-top-40px">
            <div class="form-box">
                <div class="form-title-wrap">
                    <h3 class="title">Écrire un commentaire</h3>
                </div><!-- form-title-wrap -->
                <div class="form-content">
                    <div class="rate-option p-2">
                        <div class="row">
                            <div class="col-lg-4 responsive-column">
                                <div class="rate-option-item">
                                    <label>Votre Avis</label>
                                    <div class="rate-stars-option">
                                        <input type="checkbox" id="lst1" value="1">
                                        <label for="lst1"></label>
                                        <input type="checkbox" id="lst2" value="2">
                                        <label for="lst2"></label>
                                        <input type="checkbox" id="lst3" value="3">
                                        <label for="lst3"></label>
                                        <input type="checkbox" id="lst4" value="4">
                                        <label for="lst4"></label>
                                        <input type="checkbox" id="lst5" value="5">
                                        <label for="lst5"></label>
                                    </div>
                                </div>
                            </div>
                        
                        </div><!-- end row -->
                    </div><!-- end rate-option -->
                    <div class="contact-form-action">
                        <form method="post" [formGroup]="reviewForm">
                            <div class="row">
                                <div class="col-lg-6 responsive-column">
                                    <div class="input-box">
                                        <label class="label-text">Nom</label>
                                        <div class="form-group">
                                            <span class="la la-user form-icon"></span>
                                            <input class="form-control" type="text" name="text" placeholder="Votre nom" formControlName="nomClient">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 responsive-column">
                                    <div class="input-box">
                                        <label class="label-text">Email</label>
                                        <div class="form-group">
                                            <span class="la la-envelope-o form-icon"></span>
                                            <input class="form-control" type="email" name="email" placeholder="Votre email" formControlName="email">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="input-box">
                                        <label class="label-text">Message</label>
                                        <div class="form-group">
                                            <span class="la la-pencil form-icon"></span>
                                            <textarea class="message-control form-control" name="message" placeholder="Ecrire votre message" formControlName="description"></textarea>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="btn-box">
                                        <button type="button" (click)=" addReview()" class="theme-btn">Enregistrer</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div><!-- end contact-form-action -->
                </div><!-- end form-content -->
            </div><!-- end form-box -->
        </div><!-- end comment-forum -->
 
    </div><!-- end container -->
</div>