<section class="hero-wrapper">
    <div class="hero-box hero-bg">
        <span class="line-bg line-bg1"></span>
        <span class="line-bg line-bg2"></span>
        <span class="line-bg line-bg3"></span>
        <span class="line-bg line-bg4"></span>
        <span class="line-bg line-bg5"></span>
        <span class="line-bg line-bg6"></span>
        <div class="container">
            <div class="row">
                <div class="col-lg-10 mx-auto responsive--column-l">
                    <div class="hero-content pb-5">
                       
                    </div><!-- end hero-content -->
                 <div class="tab-content search-fields-container" id="myTabContent">
                        <div >
                            <div class="tab-content search-fields-container" id="myTabContent">
                            <div >
                                    <div class="contact-form-action">
                                        <form action="#" class="row align-items-center">
                                            <div class="col-lg-6 pr-0">
                                                <div class="input-box">
                                                    <label class="label-text">Prise en charge </label>
                                                    <div class="form-group">
                                                        <span class="la la-map-marker form-icon"></span>
                                                        <input class="form-control" type="text" placeholder="City, airport or address">
                                                    </div>
                                                </div>
                                                
                                            </div><!-- end col-lg-4 -->
                                            <div class="col-lg-6 pr-0">
                                                <div class="input-box">
                                                    <label class="label-text">Lieu d’arrivée </label>
                                                    <div class="form-group">
                                                        <span class="la la-map-marker form-icon"></span>
                                                        <input class="form-control" type="text" placeholder="City, airport or address">
                                                    </div>
                                                </div>
                                                
                                            </div><!-- end col-lg-4 -->
                                            
                                            <div class="col-lg-6 pr-0">
                                                <div class="input-box">
                                                    <label class="label-text">Date de prise en charge</label>
                                                    <div class="form-group">
                                                        <span class="la la-calendar form-icon"></span>
                                                        <input class="date-range form-control" type="text" name="daterange-single" readonly="">
                                                    </div>
                                                </div>
                                            </div><!-- end col-lg-4 -->
                                            <div class="col-lg-6">
                                                <div class="input-box">
                                                    <label class="label-text">Horaire de prise en charge</label>
                                                    <div class="form-group">
                                                        <div class="select-contain w-auto">
                                                            <div class="dropdown bootstrap-select select-contain-select"><select>
                                                                <option value="1200AM">12:00AM</option>
                                                                <option value="1230AM">12:30AM</option>
                                                                <option value="0100AM">1:00AM</option>
                                                                <option value="0130AM">1:30AM</option>
                                                                <option value="0200AM">2:00AM</option>
                                                                <option value="0230AM">2:30AM</option>
                                                                <option value="0300AM">3:00AM</option>
                                                                <option value="0330AM">3:30AM</option>
                                                                <option value="0400AM">4:00AM</option>
                                                                <option value="0430AM">4:30AM</option>
                                                                <option value="0500AM">5:00AM</option>
                                                                <option value="0530AM">5:30AM</option>
                                                                <option value="0600AM">6:00AM</option>
                                                                <option value="0630AM">6:30AM</option>
                                                                <option value="0700AM">7:00AM</option>
                                                                <option value="0730AM">7:30AM</option>
                                                                <option value="0800AM">8:00AM</option>
                                                                <option value="0830AM">8:30AM</option>
                                                                <option value="0900AM" selected="">9:00AM</option>
                                                                <option value="0930AM">9:30AM</option>
                                                                <option value="1000AM">10:00AM</option>
                                                                <option value="1030AM">10:30AM</option>
                                                                <option value="1100AM">11:00AM</option>
                                                                <option value="1130AM">11:30AM</option>
                                                                <option value="1200PM">12:00PM</option>
                                                                <option value="1230PM">12:30PM</option>
                                                                <option value="0100PM">1:00PM</option>
                                                                <option value="0130PM">1:30PM</option>
                                                                <option value="0200PM">2:00PM</option>
                                                                <option value="0230PM">2:30PM</option>
                                                                <option value="0300PM">3:00PM</option>
                                                                <option value="0330PM">3:30PM</option>
                                                                <option value="0400PM">4:00PM</option>
                                                                <option value="0430PM">4:30PM</option>
                                                                <option value="0500PM">5:00PM</option>
                                                                <option value="0530PM">5:30PM</option>
                                                                <option value="0600PM">6:00PM</option>
                                                                <option value="0630PM">6:30PM</option>
                                                                <option value="0700PM">7:00PM</option>
                                                                <option value="0730PM">7:30PM</option>
                                                                <option value="0800PM">8:00PM</option>
                                                                <option value="0830PM">8:30PM</option>
                                                                <option value="0900PM">9:00PM</option>
                                                                <option value="0930PM">9:30PM</option>
                                                                <option value="1000PM">10:00PM</option>
                                                                <option value="1030PM">10:30PM</option>
                                                                <option value="1100PM">11:00PM</option>
                                                                <option value="1130PM">11:30PM</option>
                                                            </select><button type="button" class="btn dropdown-toggle btn-light" data-toggle="dropdown" role="combobox" aria-owns="bs-select-8" aria-haspopup="listbox" aria-expanded="false" title="9:00AM"><div class="filter-option"><div class="filter-option-inner"><div class="filter-option-inner-inner">9:00AM</div></div> </div></button><div class="dropdown-menu "><div class="bs-searchbox"><input type="search" class="form-control" autocomplete="off" placeholder="Search" role="combobox" aria-label="Search" aria-controls="bs-select-8" aria-autocomplete="list"></div><div class="inner show" role="listbox" id="bs-select-8" tabindex="-1"><ul class="dropdown-menu inner show" role="presentation"></ul></div></div></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div><!-- end col-lg-4 -->
                                        </form>
                                  </div>
                                
                                </div><!-- end tab-pane -->
                                <div class="tab-pane fade" id="cruise" role="tabpanel" aria-labelledby="cruise-tab">
                                    <div class="contact-form-action">
                                     
                                    </div>
                                   
                                </div><!-- end tab-pane -->
                                <div class="btn-box">
                                    <a href="cruise-search-result.html" class="theme-btn">Rechercher</a>
                                </div>
                            </div> </div><!-- end tab-pane -->
               </div>
                </div><!-- end col-lg-12 -->
            </div><!-- end row -->
        </div><!-- end container -->
        <svg class="hero-svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 10" preserveAspectRatio="none"><path d="M0 10 0 0 A 90 59, 0, 0, 0, 100 0 L 100 10 Z"></path></svg>
    </div>
</section>