<div class="dashboard-bread dashboard--bread dashboard-bread-2">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="breadcrumb-content">
                   
                </div><!-- end breadcrumb-content -->
            </div><!-- end col-lg-6 -->
     
        </div><!-- end row -->
    </div>
</div>

<div class="col-lg-12">
    <div class="form-box">
        <div _ngcontent-pcq-c77="" class="row"><div _ngcontent-pcq-c77="" class="col-lg-9 responsive-column"><div _ngcontent-pcq-c77="" class="form-group"><input _ngcontent-pcq-c77="" type="text" placeholder="Rechercher ..." name="term" id="term" class="form-control ng-untouched ng-pristine ng-valid" ng-reflect-name="term"></div></div><div _ngcontent-pcq-c77="" class="col-lg-3 responsive-column"><button _ngcontent-pcq-c77="" routerlink="/AddHotel" class="btn btn-outline-primary" tabindex="0" ng-reflect-router-link="/AddHotel">Ajouter Supplimentaire</button></div></div>
        <div class="form-content">
            <span>Supplimentaire</span>
            <div class="col-lg-4 responsive-column" *ngFor="let supp of   listsupplimentaire ">
                
                <li>{{supp.type}}</li>
            </div>
          
        </div>
      
    </div><!-- end form-box -->
    
</div>

