
<div class="modal-popup">
    <div class="modal fade show" id="loginPopupForm" tabindex="-1" role="dialog" aria-modal="true" style="padding-right: 14px; display: block;">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <div>
                        <h5 class="modal-title title" id="exampleModalLongTitle2">Login</h5>
                        <p class="font-size-14">Hello! Welcome to your account</p>
                    </div>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true" class="la la-close"></span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="contact-form-action">
                        <form method="post"  [formGroup]="loginForm">
                            <div class="input-box">
                                <label class="label-text">Email</label>
                                <div class="form-group">
                                    <span class="la la-user form-icon"></span>
                                    <input class="form-control" type="text" name="text" placeholder="Taper votre email "  formControlName="email">
                                </div>
                                <div *ngIf="loginForm.controls['email'].errors?.['required'] && (loginForm.controls['email'].dirty || loginForm.controls['email'].touched)" class="alert1" >
                                   l'email  est requis.
                                     </div>
                            </div>
                            <div class="input-box">
                                <label class="label-text">Mot de passe</label>
                                <div class="form-group mb-2">
                                    <span class="la la-lock form-icon"></span>
                                    <input class="form-control" type="password" name="password" placeholder="Taper votre mot de passe"  formControlName="motdepasse">
                                </div>
                                <div *ngIf="loginForm.controls['motdepasse'].errors?.['required'] && (loginForm.controls['motdepasse'].dirty || loginForm.controls['motdepasse'].touched)" class="alert1" >
                                  le mot de passe  est requis.
                                      </div>
                                <div class="d-flex align-items-center justify-content-between">
                                    <div class="custom-checkbox mb-0">
                                        <input type="checkbox" id="rememberchb">
                                        <label for="rememberchb">me rappeler</label>
                                    </div>
                                    <p class="forgot-password">
                                        <a href="recover.html">Mot de passe oublier?</a>
                                    </p>
                                </div>
                            </div>
                            <div class="btn-box pt-3 pb-4">
                                <button type="button" class="theme-btn w-100"  data-dismiss="modal" [disabled]="!loginForm.valid" (click)="onsubmit()">Connexion</button>
                            </div>
                            <div class="action-box text-center">
                                <p class="font-size-14">ou connexion par :</p>
                                <ul class="social-profile py-3">
                                    <li><a href="#" class="bg-5 text-white"><i class="lab la-facebook-f"></i></a></li>
                                    <li><a href="#" class="bg-6 text-white"><i class="lab la-twitter"></i></a></li>
                                    <li><a href="#" class="bg-7 text-white"><i class="lab la-instagram"></i></a></li>
                                    <li><a href="#" class="bg-5 text-white"><i class="lab la-linkedin-in"></i></a></li>
                                </ul>
                            </div>
                        </form>
                    </div><!-- end contact-form-action -->
                </div>
            </div>
        </div>
    </div>
</div>